//variables
$color-fondo:  linear-gradient(#1ef8db, #1cb5e0);
$color-fondo-texto: aliceblue;
$color-paginas-secundarias: aquamarine;
$hover-agrandar:scale(1.15);

//mixing
@mixin degradado {
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(15, 24, 156, 0.37);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
@mixin tamaño-logo-index{
    width: 140px;
    padding: 0px 0px 0px 50px;
}

@mixin contenido-pagina-texto{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 60px;
    margin: 50px 80px 50px 80px;
    background-color: aliceblue;
    border-radius: 20px;
}

//Pagina
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}    

.header__index{
    @include degradado();
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        list-style: none;
        font-size: larger;
        flex-wrap: wrap;
    }
    .img__link {
        @include tamaño-logo-index();
    }
    .lista__index{
        padding: 10px;
    }
    .textoinicio{
        color: #10cbfa;
        text-decoration: none;
    }
}

.Contenido__pagina{
    background: $color-fondo;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .contenidoPagina__texto{
        @include contenido-pagina-texto();

    }
    .img__contenido{
    width: 550px;
    margin-top: 6%;
    transition: all 400ms;
    }.img__contenido:hover{
        transform: $hover-agrandar
    }
    .img__telefono{
        height: 550px;
        width: 500px;
        transition: all 400ms;
        
    }.img__telefono:hover{
        transform: $hover-agrandar;
    }
    

}
.footer__index{
    @include degradado();
    background: rgb(48, 180, 233);
    display: flex;
    justify-content: center;
    padding: 20px;
    .imgfooter{
        width: 30px;
        margin: 3px;
    
    } 
}